.player {
  display: flex;
  align-items: center;
  min-width: 148px;
}

.player.sm {
  flex-direction: column;
  min-width: 100px;
}

.name {
  margin-left: 0.5em;
}

.player.sm .name {
  margin: 0;
  text-align: center;
}
